#accountContainer {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* align-self: flex-start; */
}

#accountContainer h2 {
    border-bottom: #ef4445 3px solid;
    text-transform: capitalize;
}

#accountContainer button {
    width: 40%;
    height: 4vh;
}

#accountContainer button:hover {
    /* Gradient for button? */
    background: #d44c4c;
    color: white;
    border: none;
}

#accountContainer a {
    color: white;
}

#accountContainer a:hover {
    color: red;

}