#welcomeContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 50vw;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    flex-direction: column;
}

#welcomeContainer h4 {
    margin: 1em;
    font-size: 20px;
    line-height: 1.25em;
    text-align: center
}